In [13]:
import pandas as pd

df = pd.read_csv('chipotle.tsv', sep='\t')

In [14]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [15]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [16]:
df.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

##### Convert into float values

In [17]:
df.item_price.dtype

dtype('O')

In [11]:
df.item_price = df.item_price[0:]

In [21]:
df.item_name.mode()

0    Chicken Bowl
dtype: object

In [22]:
df.order_id.mode()

0    926
dtype: int64

In [25]:
df.quantity.count()

4622

In [26]:
df["item_price"] = df["item_price"].replace(["\$", ','],"", regex=True).astype(float)

In [31]:
df['item_price'].dtype

dtype('float64')

In [33]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [35]:
df.choice_description.mode()

0    [Diet Coke]
dtype: object

In [48]:
revenue_generated = 0

In [49]:
revenue_generated = df['quantity'] * df['item_price'].groupby(df['order_id'])

ValueError: operands could not be broadcast together with shapes (4622,) (1834,2)

In [44]:
revenue_generated

#### average revenue amount per order

In [36]:
df.sort_values(by=['order_id'])

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
10,5,1,Chips and Guacamole,NaN,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
14,7,1,Chips and Guacamole,NaN,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
18,9,2,Canned Soda,[Sprite],2.18
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
20,10,1,Chips and Guacamole,NaN,4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
24,12,1,Izze,[Grapefruit],3.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
25,13,1,Chips and Fresh Tomato Salsa,NaN,2.39
28,14,1,Canned Soda,[Dr. Pepper],1.09
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4597,1826,1,Canned Soft Drink,[Nestea],1.25
4598,1826,1,Bottled Water,NaN,1.50
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4596,1826,1,Chips and Guacamole,NaN,4.45
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4600,1827,1,Chips and Guacamole,NaN,4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],1.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
4605,1828,1,Chips and Guacamole,NaN,4.45
4606,1828,1,Canned Soft Drink,[Coke],1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4609,1829,1,Canned Soft Drink,[Sprite],1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4613,1831,1,Chips,NaN,2.15
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
4614,1831,1,Bottled Water,NaN,1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",8.75
4616,1832,1,Chips and Guacamole,NaN,4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [50]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [52]:
df.quantity.mode()

0    1
dtype: int64

#### item name with their item price

In [59]:
group = pd.DataFrame(df['choice_description'].groupby(df['item_name']).unique())

In [60]:
group.head()

                                                      choice_description
item_name
6 Pack Soft Drink      [[Sprite], [Diet Coke], [Coke], [Nestea], [Lem...
Barbacoa Bowl          [[Roasted Chili Corn Salsa, [Fajita Vegetables...
Barbacoa Burrito       [[[Fresh Tomato Salsa (Mild), Tomatillo-Green ...
Barbacoa Crispy Tacos  [[Tomatillo Red Chili Salsa, [Rice, Black Bean...
Barbacoa Salad Bowl    [[Fresh Tomato Salsa, [Rice, Fajita Vegetables...

In [63]:
df = df.drop_duplicates(subset=['choice_description', 'item_name','quantity'])

In [65]:
df.count()

order_id              1949
quantity              1949
item_name             1949
choice_description    1915
item_price            1949
dtype: int64

In [68]:
group = pd.DataFrame(df['item_price'].groupby(df['item_name']))

In [72]:
group.tail()

                      0                                                  1
45       Veggie Burrito  57      11.25
104      8.49
225     11.25
394 ...
46  Veggie Crispy Tacos      1653    8.49
Name: item_price, dtype: float64
47         Veggie Salad  1694    8.49
2756    8.49
2996    8.49
3163   ...
48    Veggie Salad Bowl  186     11.25
295     11.25
455     11.25
496 ...
49    Veggie Soft Tacos  738     11.25
781      8.75
1395     8.49
1699...

## Machine Learning Workflow
#### Understand business problem
#### Report
#### Justification

In [74]:
df.memory_usage(index=True, deep=False)

Index                 97512
order_id              15592
quantity              15592
item_name             15592
choice_description    15592
item_price            15592
dtype: int64